*{
    box-sizing: border-box;
}

.Map_Slides{
    vertical-align: middle;
}

.container{

    max-width: 1000px;
    position: relative;
    margin:auto;

}

.Map_Slides{

    display: none;

}

.prev,.next{

    cursor: pointer;
    position: absolute;
    top: 200px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(252, 169, 15);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{

    right: 0;
    border-radius: 3px 0 0 3px;
    
}

.prev:hover, .next:hover{

    background-color: black;
}

.text{

    color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  border: rgb(0, 0, 0) solid 5px;
  font-weight: bold;
}

.numbertxt{

    color:rgb(255, 255, 255);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
    
}

.dot{

    cursor: pointer;
    height: 15px;
    width:15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; 
    top: 10px;
    
   
}

.active, .dot:hover{

    background-color: orange;
}
.fade{

    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
 
    from{opacity: .4;}
    to{opacity: 1;}
}   

#map{

    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(252, 135, 2);
    animation-name: textA;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes textA{
    from {color: rgb(252, 135, 2); ;}
    to {color: black;}
}

.map_img{

    border: 5px solid black;
}
#map_des{
    text-align: center;
    font-size: 20px;
}

.body3{

    
    background-color: rgba(97, 97, 206, 0.733);
}